/* h1*/
h1 {
     color: #200568; /*#17202A ;*/
     font-size: 150%;
     font-family: Monaco
     ;/*"Monaco", Monaco, Monaco;*/
     text-align: left;
	 background: inherit; /*#fafafa;*/
   }

h2 {
     color: #661C02;
     font-size: 100%;
     font-family: Monaco;/*"Monaco", Monaco, Monaco;*/
     text-align: left;
   }

h4 {
        color: #06A10D;
        font-size: 100%;
        font-family: Times New Roman;/*"Monaco", Monaco, Monaco;*/
        text-align: left;
      }

h5 {
        color: #06A10D;
        font-size: 50%;
        font-family: Times New Roman;/*"Monaco", Monaco, Monaco;*/
        text-align: right;
      }


h3 {
     color:  #661C02;
     font-size: 100%;
     font-family:Times New Roman ;/*"Monaco", Monaco, Monaco;*/
     text-align: center;
   }
body {
	background-color: #ffffff;/*#f9f9f9;#ccc;#ffffff*/
	text-align: center;
	padding: 12px 12px;
    border: 2px solid #A2ECF8;/*#ccc*/
    border-top: 2px solid #A2ECF8;/*#ccc*/
	outline-style: solid;
	outline-color: #f1f1f1;
	outline-width: 500px;
/*	margin-left:20%;
	margin-right:20%;*/
	width: 980px;/*suitable for mobile devices*/
	margin: auto; /*suitable for mobile devices*/
	font-size: 100%;
    font-family: Times New Roman;
     }
/*In general div*/
div {
    background-color: inherit;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	text-align: justify;
    text-justify: inter-word;
	font-size: 100%;
    font-family: Times New Roman;
}
/*Footer*/
.footer {
    position: bottom;/*fixed;*/
    left: 0;
    bottom: 0;
    width: 97%;
    background-color: #ffffff;
    color: black;
    text-align: center;
	border-radius: 5px;
}
 /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.focus {
    background-color: #ccc;
	outline: none;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
	outline: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none /*1px solid #ccc;*/
    border-top: none;
	text-align: left;
}

/* Formatting buttons tab*/
.btns {
    border: none;
    background-color: #f1f1f1;
	padding: 0px 0px;
	text-align: center;
}


/* Formatting text buttons*/
.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
	float: center;
}

/* default button */
.btn {
	  	color:#661C02;
		outline: none;
       }
/* visited button */
.btn:visited {
	    color:#661C02;
	   }
/* hover button */
.btn:hover {background: #eee;
	    color:green;
	   }
/* focus button */
.btn.focus {
	    background: #FFFFFF;
	    color:green;
		outline: none;
	   }
/* active button
.btn.active {
	    background: #eee;
	    color:red;
		outline: none;
	   }*/

/*Remove the outline specifically for mozilla*/
.btn::-moz-focus-inner {
  border: 0;
}


/* Dropdown Button */
.dropbtn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
	float: center;
	color:#661C02;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* hover button */
.dropbtn:hover {background: #eee;
	    color:green;
		}
/*Remove the outline specifically for mozilla*/
.dropbtn::-moz-focus-inner {
  border: 0;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: #f1f1f1;
	color: green;
    min-width: 160px;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	float: left;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #661C02;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #eee; color: green;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #eee;}
